<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Rent A Car</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Rent A Car</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">List of Cars</a>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin}">Admin</a>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Pick a date</h1>
      <div class="card-body">
        <form th:action="@{/cars/date/pick}" th:object = "${dateRange}" method="POST"> <!--  ||th:name=""-->
          <div class="form-group">
            <label>Date From</label>
            <input type = "date"
                   name="dateFrom"
                   th:field = "*{dateFrom}"
                   class="form-control"
                   placeholder=""/>
          </div>
          <div class="form-group">
            <label>Date To</label>
            <input type = "date"
                   name="dateTo"
                   th:field = "*{dateTo}"
                   class="form-control"
                   placeholder=""/>
          </div>
          <div class="box-footer ">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Available Cars Between</h1>
  </div>
  <div class="row">
    <h3 th:text="${pickedRange.dateFrom}"></h3>
  </div>
  <div class="row">
    <h3 th:text="${pickedRange.dateTo}"></h3>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>Car Type</th>
      <th>Car Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "car : ${cars}">
      <td th:text = "${car.carType}"></td>
      <td th:text = "${car.price}"></td>
      <td>
     <a th:href ="@{/cars/hire/{id}(id=${car.id})}" class="btn btn-primary">Rent</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>